<% html_title(l(:label_search)) -%>

<%- if fts_display_score? %>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag "score", :plugin => "full_text_search" %>
  <% end %>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "search", :plugin => "full_text_search" %>
  <% fontawesome_prefix = "fontawesome-free-5.8.2-web" %>
  <%= stylesheet_link_tag "#{fontawesome_prefix}/css/all.css",
                          :plugin => "full_text_search" %>
<% end %>

<h2><%= l(:label_search) %></h2>

<%= form_with(model: @search_request,
              method: :get,
              url: url_for,
              id: "search-form") do |form| %>
  <div class="box">
    <p class="search-input-box">
      <%= form.label "search-input",
                     l(:description_search),
                     :class => "hidden-for-sighted" %>
      <%= form.search_field "q",
                            id: "search-input",
                            name: "q" %>
      <%= form.button type: "submit", id: "search-submit" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </p>

    <fieldset class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
      <div id="options-content" style="display:none;">
        <p><%= project_select_tag %></p>
        <p><label><%= form.check_box "titles_only", name: "titles_only" %>
                  <%= l(:label_search_titles_only) %></label></p>
        <p><label><%= form.check_box "open_issues", name: "open_issues" %>
                  <%= l(:label_search_open_issues_only) %></label></p>
        <p>
          <label><%= form.radio_button "attachments", "0", name: "attachments" %>
                 <%= l(:label_search_attachments_no) %></label>
          <label><%= form.radio_button "attachments", "1", name: "attachments" %>
                 <%= l(:label_search_attachments_yes) %></label>
          <label><%= form.radio_button "attachments", "only", name: "attachments" %>
                 <%= l(:label_search_attachments_only) %></label>
        </p>
        <fieldset class="full-text-search-order">
          <legend><%= l(:label_full_text_search_result_order) %></legend>
          <p>
            <label>
              <%= form.radio_button "order_target", "score", name: "order_target" %>
              <%= l(:label_full_text_search_order_target_score) %>
            </label>
            <label>
              <%= form.radio_button "order_target", "last_modified_at", name: "order_target" %>
              <%= l(:label_full_text_search_order_target_last_modified_at) %>
            </label>
            <label>
              <%= form.radio_button "order_target", "registered_at", name: "order_target" %>
              <%= l(:label_full_text_search_order_target_registered_at) %>
            </label>
          </p>
          <p>
            <label>
              <%= form.radio_button "order_type", "asc", name: "order_type" %>
              <%= l(:label_full_text_search_order_type_asc) %>
            </label>
            <label>
              <%= form.radio_button "order_type", "desc", name: "order_type" %>
              <%= l(:label_full_text_search_order_type_desc) %>
            </label>
          </p>
        </fieldset>
      </div>
    </fieldset>
    <%= form.hidden_field "options", id: "show-options", name: "options" %>
    <%= form.hidden_field "search_id", name: "search_id" %>
    <% @search_request.target_search_types.each do |type| %>
      <%= form.hidden_field type, name: type %>
    <% end %>
  </div>
<% end %>

<div id="search-result">
  <div id="search-result-metadata">
    <% if fts_display_score? %>
      <div id="search-elapsed">
        <p>
          <i class="fas fa-clock"></i>
          <%= "%.2f" % [@result_set.elapsed_time] %>s
        </p>
      </div>
    <% end %>
    <div id="search-order-target" class="search-order">
      <h3><%= l(:label_full_text_search_result_order_target) %></h3>
      <ul>
        <li>
          <%= link_to_unless(@search_request.order_target == "score",
                             tag.i(class: "fas fa-star") + " " +
                               l(:label_full_text_search_order_target_score),
                             url_for(@search_request.to_params(order_target: "score"))) %>
        </li>
        <li>
          <%= link_to_unless(@search_request.order_target == "last_modified_at",
                             tag.i(class: "fas fa-clock") + " " +
                               l(:label_full_text_search_order_target_last_modified_at),
                             url_for(@search_request.to_params(order_target: "last_modified_at"))) %>
        </li>
        <li>
          <%= link_to_unless(@search_request.order_target == "registered_at",
                             tag.i(class: "fas fa-clock") + " " +
                               l(:label_full_text_search_order_target_registered_at),
                             url_for(@search_request.to_params(order_target: "registered_at"))) %>
        </li>
      </ul>
    </div>
    <div id="search-order-type" class="search-order">
      <h3><%= l(:label_full_text_search_result_order_type) %></h3>
      <ul>
        <li>
          <%= link_to_unless(@search_request.order_type == "asc",
                             tag.i(class: "fas fa-sort-numeric-up") + " " +
                               l(:label_full_text_search_order_type_asc),
                             url_for(@search_request.to_params(order_type: "asc"))) %>
        </li>
        <li>
          <%= link_to_unless(@search_request.order_type == "desc",
                             tag.i(class: "fas fa-sort-numeric-down") + " " +
                               l(:label_full_text_search_order_type_desc),
                             url_for(@search_request.to_params(order_type: "desc"))) %>
        </li>
      </ul>
    </div>

    <% @result_set.tag_drilldowns.each do |type, drilldown| %>
    <div class="search-drilldown">
      <h3><%= l(:"label_#{type.name.underscore}") %></h3>
      <ul>
        <% drilldown[0, 10].each do |record| %>
        <li>
          <%= link_to("#{record[:tag].value} (#{record[:n_records]})",
                      url_for(@search_request.to_params(tags: [record[:tag]]))) %>
        </li>
        <% end %>
        <% if @search_request.tag_drilldown?(type.id) %>
        <li>
          <%= link_to(l(:"label.full_text_search.drilldown.deselect"),
                      url_for(@search_request.to_params(deselect_tag_type: type.id))) %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <div id="search-result-content">
    <div id="search-source-types" class="tabs">
      <ul>
        <li>
          <%= link_to("#{l(:label_result_all)} (#{@result_set.total_n_hits})",
                      url_for(@search_request.to_params(types: :all)),
                      id: "search-target-all",
                      class: @search_request.target?(:all) ? "selected" : "") %>
        </li>
        <% @search_request.search_types.each do |type| %>
          <li>
            <%= link_to("#{type_label(type)} (#{@result_set.source_drilldown(type)})",
                        url_for(@search_request.to_params(types: [type])),
                        id: "search-target-#{type.gsub(/_/, "-")}",
                        class: @search_request.target?(type) ? "selected" : "") %>
          </li>
        <% end %>
      </ul>
    </div>
    <dl id="search-results">
      <% @result_set.each_with_index do |e, i| %>
        <dt class="<%= e.event_type %> icon icon-<%= e.event_type %>">
          <%= content_tag("span", e.project, :class => "project") unless @project == e.project %>
          <%= link_to(e.event_highlighted_title,
                      search_result_entry_url(e, i),
                      :data => {:rank => e.rank}) %>
        </dt>
        <dd>
          <ol class="search-snippets">
            <% e.event_content_snippets.each do |snippet| %>
              <li><%= snippet %></li>
            <% end %>
          </ol>
        <span class="author"><%= format_time(e.event_datetime) %></span></dd>
      <% end %>
    </dl>

    <% if @search_request.have_condition? %>
    <span class="pagination"><%= pagination_links_full @result_pages, @result_set.n_hits, :per_page_links => false %></span>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
$("#search-form").submit(function(){
  $("#show-options").val($("#options-content").is(":visible") ? "1" : "0");
});

function showFieldset(el) {
  var fieldset = $(el).parents("fieldset").first();
  fieldset.removeClass("collapsed");
  fieldset.children("div").show();
}

if ($("#show-options").val() == "1") {
  showFieldset($("#options-content"));
}
<% end %>
