<p>
  <%= label_tag("settings[display_score]",
                l(:label_full_text_search_display_score)) %>
  <%= check_box("settings",
                "display_score",
                checked: settings.display_score?) %>
</p>

<p>
  <%= label_tag("settings[display_similar_issues]",
                l(:label_full_text_search_display_similar_issues)) %>
  <%= check_box("settings",
                "display_similar_issues",
                checked: settings.display_similar_issues?) %>
</p>

<p>
  <%= label_tag("settings[enable_tracking]",
                l(:label_full_text_search_enable_tracking)) %>
  <%= check_box("settings",
                "enable_tracking",
                checked: settings.enable_tracking?) %>
</p>

<p>
  <%= label_tag("settings[attachment_max_text_size_in_mb]",
                l(:label_full_text_search_attachment_max_text_size)) %>
  <%= text_field_tag("settings[attachment_max_text_size_in_mb]",
                     settings.attachment_max_text_size_in_mb,
                     size: 6) %>
  <%= l(:"number.human.storage_units.units.mb") %>
</p>

<p>
  <%= label_tag("settings[text_extraction_timeout]",
                l(:label_full_text_search_text_extraction_timeout)) %>
  <%= text_field_tag("settings[text_extraction_timeout]",
                     settings.text_extraction_timeout,
                     size: 6) %>
</p>

<p>
  <%= label_tag("settings[external_command_max_memory_in_mb]",
                l(:label_full_text_search_external_command_max_memory)) %>
  <%= text_field_tag("settings[external_command_max_memory_in_mb]",
                     settings.external_command_max_memory_in_mb,
                     size: 6) %>
  <%= l(:"number.human.storage_units.units.mb") %>
</p>

<p>
  <%= label_tag("settings[server_url]",
                l(:label_full_text_search_server_url)) %>
  <%= text_field_tag("settings[server_url]",
                     settings.server_url) %>
</p>

<section>
  <h3>
    <%= l(:label_full_text_search_semantic_section) %>
  </h3>

  <p>
    <%= label_tag("settings[enable_semantic_search]",
                  l(:label_full_text_search_enable_semantic_search)) %>
    <%= check_box("settings",
                  "enable_semantic_search",
                  checked: settings.enable_semantic_search?) %>
  </p>

  <p>
    <%= label_tag("settings[semantic_model]",
                  l(:label_full_text_search_semantic_model)) %>
    <%= text_field_tag("settings[semantic_model]",
                       settings.semantic_model) %>
  </p>

  <p>
    <%= label_tag("settings[semantic_passage_prefix]",
                  l(:label_full_text_search_semantic_passage_prefix)) %>
    <%= text_field_tag("settings[semantic_passage_prefix]",
                       settings.semantic_passage_prefix) %>
  </p>

  <p>
    <%= label_tag("settings[semantic_query_prefix]",
                  l(:label_full_text_search_semantic_query_prefix)) %>
    <%= text_field_tag("settings[semantic_query_prefix]",
                       settings.semantic_query_prefix) %>
  </p>

  <div class="flash notice">
    <%= l(:text_full_text_search_semantic_note) %>
  </div>
</section>
