<p>
  <%= label_tag("settings[display_score]_#{FullTextSearch::Settings::TRUE_VALUE}",
                l(:label_full_text_search_display_score)) %>
  <label class="block">
    <%= radio_button_tag("settings[display_score]",
                         FullTextSearch::Settings::TRUE_VALUE,
                         settings.display_score?) %>
    <%= l(:label_full_text_search_display) %>
  </label>
  <label class="block">
    <%= radio_button_tag("settings[display_score]",
                         FullTextSearch::Settings::FALSE_VALUE,
                         !settings.display_score?) %>
    <%= l(:label_full_text_search_hide) %>
  </label>
</p>

<p>
  <%= label_tag("settings[display_similar_issues]_#{FullTextSearch::Settings::TRUE_VALUE}",
                l(:label_full_text_search_display_similar_issues)) %>
  <label class="block">
    <%= radio_button_tag("settings[display_similar_issues]",
                         FullTextSearch::Settings::TRUE_VALUE,
                         settings.display_similar_issues?) %>
    <%= l(:label_full_text_search_display) %>
  </label>
  <label class="block">
    <%= radio_button_tag("settings[display_similar_issues]",
                         FullTextSearch::Settings::FALSE_VALUE,
                         !settings.display_similar_issues?) %>
    <%= l(:label_full_text_search_hide) %>
  </label>
</p>

<p>
  <%= label_tag("settings[enable_tracking]_#{FullTextSearch::Settings::TRUE_VALUE}",
                l(:label_full_text_search_enable_tracking)) %>
  <label class="block">
    <%= radio_button_tag("settings[enable_tracking]",
                         FullTextSearch::Settings::TRUE_VALUE,
                         settings.enable_tracking?) %>
    <%= l(:label_full_text_search_enable) %>
  </label>
  <label class="block">
    <%= radio_button_tag("settings[enable_tracking]",
                         FullTextSearch::Settings::FALSE_VALUE,
                         !settings.enable_tracking?) %>
    <%= l(:label_full_text_search_disable) %>
  </label>
</p>

<p>
  <%= label_tag("settings[attachment_max_text_size_in_mb]",
                l(:label_full_text_search_attachment_max_text_size)) %>
  <%= text_field_tag("settings[attachment_max_text_size_in_mb]",
                     settings.attachment_max_text_size_in_mb,
                     size: 6) %>
  <%= l(:"number.human.storage_units.units.mb") %>
</p>

<p>
  <%= label_tag("settings[text_extraction_timeout]",
                l(:label_full_text_search_text_extraction_timeout)) %>
  <%= text_field_tag("settings[text_extraction_timeout]",
                     settings.text_extraction_timeout,
                     size: 6) %>
</p>

<p>
  <%= label_tag("settings[external_command_max_memory_in_mb]",
                l(:label_full_text_search_external_command_max_memory)) %>
  <%= text_field_tag("settings[external_command_max_memory_in_mb]",
                     settings.external_command_max_memory_in_mb,
                     size: 6) %>
  <%= l(:"number.human.storage_units.units.mb") %>
</p>

<p>
  <%= label_tag("settings[server_url]",
                l(:label_full_text_search_server_url)) %>
  <%= text_field_tag("settings[server_url]",
                     settings.server_url) %>
</p>
